.beginButton{
    font-size: 20px;
}
.beginButton:hover{

}
    
.answers{
    box-shadow: 0px 14px 18px 0 rgba(0,0,0,0.24);
}

#countdown,#timeleft{
    position: absolute;
    right: 0px;
    font-size: 30px;
    font-family: var(--aFont);
    padding-right: 5px;
}

#countdown{
    padding-right: 50px;
}

.visible{
    display: block;
}


.invisible{
    display: none;
}